<!-- app/views/posts/_form.html.erb -->
<%= simple_form_for @post do |f| %>
  <div class="field">
    <div class="control">
      <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
    </div>
  </div>
  <!-- Rich Text Content Field -->
  <div class="field">
    <div class="control">
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>
  </div>
  <%= f.button :submit, 'Copywrite', class: "button is-primary" %>
<% end %>
